:root {
    interpolate-size: allow-keywords;

    /* font variables */
    --primary-font: "Roboto Mono";
    --header-font: "Rubik";
    --line-height-lg: 1.5em;
    --line-height-sm: 1.3em;
    --letter-spacing-sm: 0.6px;
    --letter-spacing-lg: 1.5px;

    /* color palette*/
    --primary-color: #f6f6f6;
    --secondary-color: #111111;
    --accent: #ffcb74;

    /* spacing */
    --main-padding-y: 20px;
    --main-padding-x: 40px;
    --space-after-list-item-lg: 1.5em;
    --space-after-list-item-sm: 0.8em;

    /* area dimensions */
    --content-height: calc(100vh - (3 * var(--main-padding-y)) - var(--line-height-lg));

    --mask-url: url("../src/images/gifs/transparent-ink.gif");
    color-scheme: dark;
}

html {
    background-color: var(--secondary-color);
}

html * {
    font-family: var(--primary-font);
    color: var(--primary-color);
    margin: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-color) var(--primary-color);
}

html h6,
h5,
h4,
h3,
h2,
h1 {
    font-family: var(--header-font);
}

#root-layout {
    padding: 0 var(--main-padding-x) var(--main-padding-y) var(--main-padding-x);
    min-height: 100vh;
}

.navigation-bar {
    width: 100%;
    display: flex;
    position: sticky;
    z-index: 100;
    padding: var(--main-padding-y) 0;
    top: 0;
}

.navigation-bar__item {
    text-decoration: none;
    padding-bottom: 2px;
    position: relative;
}

.navigation-bar__item::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 0%;
    border-bottom: solid var(--accent);
    transition: width 0.3s ease-in;
}

.navigation-bar__item:hover::before {
    width: 100%;
}

.navigation-bar-container {
    width: max(18%, 230px);
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}

.brand-container {
    position: relative;
    top: 0;
    z-index: 100;
    left: 0;
    padding: var(--main-padding-y) calc(2.5 * var(--main-padding-y));
    font-size: 1.8em;
}

.brand-container > h2 {
    opacity: 0.5;
}

.sidebar {
    position: fixed;
    left: var(--main-padding-x);
    top: 0;
    padding-top: var(--main-padding-y);
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - (1 * var(--main-padding-y)));
    z-index: 200;
}

.socials-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px;
}

.socials-item * {
    stroke: var(--primary-color);
}

.socials-item:hover {
    animation: grow-shrink 1s;
}

.socials-item:active * {
    stroke: var(--accent);
}

.sidebar > div {
    display: flex;
    flex-direction: column;
    gap: var(--space-after-list-item-sm);
    align-items: center;
}

.sidebar > div:first-child > a svg {
    scale: 0.8;
}

.sidebar > div:first-child > a svg * {
    stroke: var(--accent);
}

.sidebar > div:first-child > a svg:hover {
    scale: 1;
    transition: scale 0.3s ease-in;
}

.sidebar > div:first-child button {
    background-color: transparent;
    border-color: transparent;
}

.sidebar > div:first-child button svg {
    scale: 1.167;
    stroke: var(--primary-color);
}

.sidebar > div:first-child button svg:hover {
    cursor: pointer;
}

#landing-page {
    min-height: var(--content-height);
    position: relative;

    mask-image: var(--mask-url);
    mask-size: cover;
    mask-position: center;
}

:has(#landing-page) {
    background-color: var(--primary-color);
}

:has(#landing-page)::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--secondary-color);

    mask-image: var(--mask-url);
    mask-size: cover;
    mask-position: center;
}

.hero-image {
    position: relative;
    left: 50%;
    transform: translateX(-50%) translateY(3%);
}

#about-me {
    height: var(--content-height);
    display: grid;
    grid-template-columns: 4fr 3fr;
}

#about-me > *:first-child {
    text-align: center;
}

#about-me > *:first-child > p {
    width: 60%;
    margin: auto;
    padding-top: var(--main-padding-y);
    letter-spacing: 1.5px;
    line-height: 1.5em;
}

.my-image {
    margin-top: calc(-2 * (var(--main-padding-y) + 1.5em));
    margin-bottom: calc(-1 * calc(var(--main-padding-y) + 1px));
    margin-right: calc(-1 * var(--main-padding-x));
}

.my-image::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    background-color: #111111;
    mix-blend-mode: hue;
}

.portfolio {
    min-height: var(--content-height);
    /* border: solid white; */
    display: flex;
    flex-direction: column;
    gap: 8vh;
}

.portfolio > *:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    flex-grow: 1;
}

.portfolio .labels {
    display: flex;
    flex-direction: column;
    grid-column: 3 / 7;
    list-style: none;
    margin: 32px 12px;
}

.portfolio .labels li {
    margin-bottom: var(--space-after-list-item-sm);
    cursor: pointer;
    position: relative;
}

.portfolio .labels [data-active="true"] {
    color: var(--accent);
}

.portfolio .labels li::before {
    content: "";
    width: 4px;
    height: 100%;
    margin-right: 12px;
    display: inline-block;
    position: absolute;
    left: -15px;
}

.portfolio .labels li:hover::before {
    background-color: var(--accent);
}

.portfolio .description {
    display: flex;
    flex-direction: column;
    grid-column: 8 / 13;
    margin: 32px 12px;
}

.portfolio .description h4 {
    line-height: var(--line-height-sm);
    margin-bottom: var(--space-after-list-item-sm);
}

.portfolio .description h4 span {
    all: inherit;
    display: inline;
}

.portfolio .description ul:last-child {
    margin-left: -20px;
    margin-top: var(--space-after-list-item-lg);
}

.portfolio .description ul:last-child li {
    line-height: var(--line-height-sm);
    letter-spacing: var(--letter-spacing-sm);
    margin-bottom: var(--space-after-list-item-lg);
}

.portfolio .technologies {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    gap: 12px;
}

.portfolio-header {
    text-align: center;
    opacity: 0.7;
}

.divider-container {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.divider-container .divider {
    background-color: var(--primary-color);
    width: 1px;
    position: relative;
    left: 50%;
}

.divider-container .divider:first-child {
    height: 25%;
}

.divider-container .divider:nth-child(2) {
    height: 7%;
}

.divider-container .divider:nth-child(3) {
    height: 60%;
}

#chip {
    height: var(--line-height-lg);
    padding: 15px;
    border-radius: var(--line-height-lg);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: solid var(--primary-color) 2px;
}

.blog {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    height: calc(var(--content-height) - 2.8em);
    gap: var(--main-padding-x);
    margin-top: 20px;
}

#previews {
    grid-column: 2 / 9;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
}

.blog .filters {
    grid-column: 10 / 14;
}

.blog-entry,
.blog-preview {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: var(--space-after-list-item-sm);
    margin-bottom: var(--space-after-list-item-lg);
    flex-shrink: 1;
}

[class^="blog-"] .date {
    font-weight: lighter;
}

.blog-preview {
    border: solid var(--primary-color) 2px;
}

.blog-preview .preview .link {
    color: var(--accent);
    text-decoration: none;
}

.blog-entry ul,
ol li {
    margin-bottom: var(--space-after-list-item-sm);
}

.blog-entry > div > p {
    margin-bottom: var(--main-padding-y);
}

.blog-entry hr {
    margin: 24px 0;
    opacity: 0.4;
}

#previews .toolbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    align-items: center;
    top: 0;
    border-top: solid var(--primary-color) 2px;
    border-left: solid var(--primary-color) 2px;
    border-right: solid var(--primary-color) 2px;
    background-color: var(--secondary-color);
}

#previews .toolbar #pagination-search {
    display: flex;
    gap: 5px;
}

#previews .toolbar #pagination-search button {
    cursor: pointer;
}

#previews .toolbar #pagination-search button:disabled {
    cursor: not-allowed;
}

#previews .toolbar input {
    font-size: 1.1em;
}

#previews .toolbar h6 {
    font-size: 1.1em;
}

.blog .filters ul {
    list-style: none;
    padding-left: 0;
}

.blog .filters ul li {
    margin-bottom: var(--space-after-list-item-sm);
    cursor: pointer;
}

.blog .filters ul li::before {
    content: "";
    width: 4px;
    height: 1.4em;
    margin-right: 12px;
    display: inline-block;
    position: absolute;
    transform: translateX(-12px);
    background-color: transparent;
}

.blog .filters ul li:hover::before {
    background-color: var(--accent);
}

.blog .filters ul li[data-active="true"] {
    color: var(--accent);
}

html[data-theme="light"] {
    /* color palette*/
    --primary-color: #111111;
    --secondary-color: #f6f6f6;
    --accent: #5b1166;
}

#social-bar {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    gap: 40px;
    padding: var(--main-padding-y) var(--main-padding-x);
    background-color: var(--secondary-color);
    width: 100%;
}

.collapse {
    border: solid 2px var(--primary-color);
    padding: 10px;
}

.collapse::details-content {
    block-size: 0;
    overflow-y: hidden;
    transition: block-size 0.6s;
}

.collapse[open]::details-content {
    block-size: auto;
}

.collapse > *:nth-child(2) {
    padding-block: 20px 0;
}

.collapse summary {
    margin: 0 -10px;
    padding: 0 10px;
}

.collapse[open] summary {
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 10px;
}

.collapse-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.collapse-header h4:first-child {
    color: var(--accent);
}

.collapse > summary::marker {
    content: "";
}

.collapse > ul {
    padding-left: 20px;
}

.collapse > ul li {
    margin-bottom: var(--space-after-list-item-sm);
}

#not-found .countdown-cards-wrapper {
    display: flex;
    justify-content: center;
    font-size: 15em;
    user-select: none;
}

#not-found .countdown-cards-wrapper .countdown-cards {
    border: solid;
    margin: 10px;
    padding: 30px;
    position: relative;
    border-radius: 10px;
}

#not-found .countdown-cards-wrapper .countdown-cards::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 50%;
    background-color: black;
    opacity: 0.4;
    border-radius: 7px 7px 0 0;
}

#not-found .countdown-cards-wrapper .countdown-cards::after {
    z-index: -1;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 50%;
    box-shadow: -1px 15px 10px 3px black;
}

#not-found .countdown-cards-wrapper .countdown-cards .rings {
    top: 50%;
    left: 0;
    width: 100%;
    height: 5px;
    position: absolute;
    background-color: var(--primary-color);
    transform: translateY(-50%);
}

#not-found .countdown-cards-wrapper .countdown-cards .rings::before,
#not-found .countdown-cards-wrapper .countdown-cards .rings::after {
    content: "";
    width: 25px;
    aspect-ratio: 1 / 1;
    display: inline-block;
    position: absolute;
    background-color: var(--secondary-color);
    transform: translate(-59%, -50%) rotate(45deg);
    border-radius: 50%;
    border-style: solid;
    border-left-color: transparent;
    border-bottom-color: transparent;
    box-shadow: inset -8px 10px 6px -6px rgba(0, 0, 0, 0.8);
}

#not-found .countdown-cards-wrapper .countdown-cards .rings::after {
    left: 100%;
    transform: translate(-41%, -50%) rotate(225deg);
}

#count-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    padding: 3px 6px;
    background-color: var(--secondary-color);
    mix-blend-mode: difference;
}

#count-badge-wrapper {
    display: flex;
    /* align-items: baseline; */
    gap: 6px;
}

@media (width <= 768px) {
    :root {
        /* --main-padding-y: 10px; */
        --main-padding-x: 20px;

        --letter-spacing-sm: 0.3px;
        --letter-spacing-lg: 0.75px;

        /* --space-after-list-item-lg: 0.75em;
        --space-after-list-item-sm: var(--space-after-list-item-sm / 2); */
    }
}

@media (width <= 576px) {
    .navigation-bar {
        backdrop-filter: blur(5px);
    }

    .navigation-bar-container {
        width: 100%;
    }

    :root {
        --main-padding-y: 10px;
        --main-padding-x: 20px;

        --letter-spacing-sm: 0.3px;
        --letter-spacing-lg: 0.75px;

        /* --space-after-list-item-lg: 0.75em;
        --space-after-list-item-sm: var(--space-after-list-item-sm / 2); */
    }

    #about-me {
        grid-template-columns: 1fr;
    }

    #about-me > *:nth-child(1) {
        position: relative;
        grid-area: 1 / 1;
        display: grid;
        place-items: "center";
        z-index: 0;
    }

    #about-me > *:nth-child(2) {
        z-index: -1;
    }

    #about-me > *:nth-child(2)::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        z-index: 1;
        position: absolute;
        background-color: #111111;
        mix-blend-mode: hue;
    }

    #about-me > *:first-child > p {
        width: 95%;
        padding-bottom: 80px;
    }

    .portfolio {
        gap: 12px;
        padding-top: 20px;
        min-height: auto;
    }

    .portfolio > *:nth-child(2) {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .portfolio-header {
        text-align: left;
    }

    #previews {
        grid-column: 1 / 14;
    }

    #previews .toolbar {
        margin-bottom: 10px;
        /* border: solid; */
        border: none;
        justify-content: space-between;
    }

    #previews .toolbar input {
        margin-left: -10px;
    }

    #previews .toolbar svg {
        margin-right: -10px;
    }

    #previews .collapse summary {
        padding: 0;
    }
}

@keyframes grow-shrink {
    25%,
    75% {
        scale: 100%;
    }

    50% {
        scale: 150%;
    }
}
